@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 25% 4%;
  --foreground: 210 40% 98%;
  --card: 220 20% 10%;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --card: 0 0% 96.3%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
